body {
  background: rgb(133, 133, 153, 1.0);
  font-family: "Poppins", sans-serif;
  color: #2e2e2e;
  font-weight: 400;
}

.container {
  max-width: 1280px;
  padding-left: 1rem;
  padding-right: 1rem;
}

a:focus {
  box-shadow: none;
}

a:focus,
a:hover,
a:active {
  text-decoration: none;
  color: #2623d0;
}

.container .columns {
  margin-left: -1rem;
  margin-right: -1rem;
}

.container .column {
  padding-left: 1rem;
  padding-right: 1rem;
}

.yeo-body {
  max-width: 1280px;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.navbar .navbar-brand.logo {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

.logo-img {
  padding-right: 10px;
  display: inline-block;
  height: 24px;
}

.yeo-slogan {
  background: rgb(133, 133, 153, 1.0);
  background-size: auto;
  padding-bottom: 3rem;
  /* Rectangle 10: */
 
}

.yeo-slogan .slogan-bold {
  display: block;
}

.yeo-slogan .slogan-normal {
  display: block;
}

.yeo-slogan p {
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 200;
  opacity: 0.8;
  width: 90%;
  margin-bottom: 2rem;
}

.slogan {
  background: transparent;
  padding-top: 3rem;
  color: #fff;
  text-align: left;
  max-width: 1280px;
}

.slogan h1 {
  font-size: 3.2rem;
  font-family: "Poppins", serif;
  font-weight: 700;
  text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  line-height: 1.3;
  max-width: 950px;
  margin-bottom: 1rem;
  letter-spacing: 0.05rem;
}

.slogan-img {
  max-width: 100%;
  margin-top: 25px;
}

.yeo-header {
  background: transparent;
}

.yeo-header a {
  color: #fff;
}

.slogan .slogan-bold {
  color: rgb(93, 93, 143, 1.0);
}

.slogan .btn-start {
  padding: 0.9rem 1.5rem;
  height: auto;
  background: transparent;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  border-color: rgba(255, 255, 255, 0.4);
  letter-spacing: 0.05rem;
  
}
.slogan .btn-start a:hover{
  color: #00a87e;
  background-color: #0a007e;
}

.feature-title {
  font-weight: 200;
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 0;
  opacity: 0.5;
  text-align: center;
  display: inline-block;
  border-bottom: 1px solid #bcb9b9;
  margin: 0 auto 2rem;
}

.yeo-header .navbar {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem 0 1rem 0;
}

.yeo-header .navbar-section .btn.btn-link {
  color: #fff;
  padding: 0.25rem 1.2rem;
  opacity: 0.9;
}

.yeo-header .btn-hire-me {
  background: #00bc9e;
  border-color: transparent;
  color: #ffffff;
  border-radius: 50px;
  padding: 0.25rem 1rem;
}
  .yeo-footer {
    padding: 2rem 0;
  background-color: #133133153;/*#0a007e;*/
  }

  .yeo-footer-content {
    padding-bottom: 1rem;
  }

  .yeo-footer h4 {
    font-size: 1rem;
    color:#0a007e;
    margin-bottom: 0;
  }

